* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header {
  height: 50px;
  width: 100vw;
  background-color:pink;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align:center;
  font-size: 40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0px 60px;
  text-shadow: 2px 7px 10px rgba(232, 82, 182, 0.6);
  

}

nav {
  position:absolute;
  height: 400px;
  width:200px;
  background-color: pink;
  top: 0;
  display:flex;
  flex-direction:column;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
  

}

.menu-show {
  right:0;
  transition: all 0.3s ease-in-out;


}

.menu-hide {
  right:-350px;
  transition: all 0.3s ease-in-out;
  
}

.main-page {
  width: 100vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  color: rgb(34, 30, 30);
}
.Makeup {
  width: 100vw;
  height: 1000px;
}

.aboutText {
  padding-top: 50px;
  padding-bottom: 50px;
}

.log {
  align-items: center;
  display:flex;
  flex-direction:row;
}

.makeup-container {
  width: 100vw;
  padding: 50px;
  display:flex;
  flex-direction: row;
  align-items: center;
  flex-wrap:wrap;
  padding-top:20px;
  gap: 70px;
  
}



.makeup-card {
  width:15%;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.makeup-card img {
  width:100%;
  aspect-ratio:1/1;
  object-fit:cover;
}
.card-product {
  font-weight: 300;
  font-size: 17px;
  padding-top:5px;
}

.card-brand {
  font-weight: 800;
  padding-bottom: 3px;
}
.card-expiration {
  font-weight:800;
  font-size: 16px;
  padding-bottom: 5px;
}
.card-description {
  inline-size: 275px;
  font-weight: 530;
  font-size: 14px;
  padding-bottom: 5px;
}

.card-price {
  padding-bottom:10px;
  font-weight: 550;
  font-size: 18px;
}


.card-delete {
  padding:10px;
  width:100px;
  background-color:transparent;
  border: 2px solid rgb(76, 73, 73);
}